#about{
    margin: 3vh 1vw;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
    background-color: #FFE9E1;
    padding: 5vw 5vw;
}

#profAbout {
    font-size: large;
    padding: 0 5vw 0 0;

}

#profPic img {
    max-width: 300px;
    min-width: none;
    border-radius: 30px;
    box-shadow: .5rem 0.5rem #AB15A4, -0.5rem -0.5rem #E92477;
}

#about a {
    padding: 0 2vw 0 0;
    color: black;
    text-decoration: none;
}

#about a:hover{
    cursor: pointer;

}

@media screen and (max-width: 759px)  {
    #about {
        flex-direction: column;
        text-align: center;
    }
}