
nav {
    text-align: center;
    background-color: #E6ECFF;
    margin: 0vh 1vw 3vh 1vw;
    padding-bottom: 4vh;
}
nav a {
    text-decoration: none;
    color: black;
    padding-right: 2vw;
}

#resume {
    padding-right: none;
}