.contact {
    text-align: center;
    background-color: #E6ECFF;
    margin: 0vh 1vw 3vh 1vw;
    padding-bottom: 4vh;
}

.contact a{
    text-decoration: underline;
}

nav a {
    color: black;
    padding-right: 2vw;
}

#resume {
    padding-right: none;
}